@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dangrek&family=Heebo:wght@600&family=PT+Sans:wght@700&family=Press+Start+2P&family=Rubik:wght@400;500&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;


}


body {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    font-size: xx-large;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}


p {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}


.header button {
    position: absolute;
    right: 15%;
    margin-top: -35px;
}

.header i {
    font-size: 22px;
}

.principal {
    margin-top: 40px;
    width: 55%;
}


.textInsert {
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 85%;
}


.divInsert {
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    box-shadow: 6px 5px 10px 0px grey;
}

button {
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.bx-plus {
    font-size: 30px;
    margin-left: 10px;
    background-color: #38b6ff;
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.divLi span {
    width: 80%;
    color: dimgray;
}

.divLi input {
    width: 9%;
    outline: none;
    accent-color: currentcolor;
}

.divLi i {
    font-size: 20px;
    color: brown;
}

li {
    list-style-type: none;
}

.line-through {
    text-decoration: line-through;
}

@media (max-width: 800px) {
    input {
        width: 70%;
    }

    .divInsert button {
        width: 30%;
    }

    i {
        font-size: 30px;
        padding: 0px;
    }

    p {
        font-size: xx-large;
    }

}